.loader-element {
  position: fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  text-align: center;
  z-index: 10;
  background-color: #101010;
}

.loader-element--inactive{
  animation: Hide 500ms linear 1 1.5s;
  animation-fill-mode: forwards;
}

.loader-element--inactive > *{
  transition: opacity 1s;
  opacity: 0!important;
}

.loader-element__background{
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background: url("../images/loaderbg.png") no-repeat 50% 50%;
  animation: BackgroundShift 3s infinite ease-out;
}

.loader-element__element{
  opacity: 1;
  display: block;
  background: url("../images/monk.png");
  height: 149px;
  width: 106px;
  background-repeat: no-repeat;
  position: absolute;
  bottom:50%;
  left: 50%;
  transform-origin: bottom center;
  animation: Explode 0.5s 1 ease-in, Floating 2s infinite 0s ease-out;
  animation-fill-mode: forwards;
  margin-left: -50px;
}

.loader-element__text{
  position: absolute;
  font-size: 1.2em;
  color: #fff;
  top: 50%;
  margin-top: 100px;
  margin-left: -20px;
  left: 50%;
  transform: scale(0.9);
  animation: Explode 0.5s 1 ease-out, SlideLeft 0.3s 1 1s ease-out;
  animation-fill-mode: forwards;
}

.loader-element__part1{
  display: inline-block;
  float: left;
}

.loader-element__part1:after{
  content: ',';
  animation: ChangeContent 0.3s 1 ease-out 0.9s;
  animation-fill-mode: forwards;
}

.loader-element__part2{
  display: inline-block;
  overflow: hidden;
  text-indent: 0%;
  margin-left: 10px;
  white-space: nowrap;
  text-indent: -160%;
  animation: SlideIn 0.3s 1 ease-out 0.9s;
  animation-fill-mode: forwards;
}

@keyframes BackgroundShift{
    from {background-position: 50% 50%}
    50% {background-position: 45% 50%}
    to {background-position: 50% 50%}
}

@keyframes Floating{
    from {margin-bottom:0px}
    50% {margin-bottom:10px}
    100% {margin-bottom:0px}
}

@keyframes Explode{
    0% {transform: scale(0);}
    60% {transform: scale(1);}
    85% {transform: scale(1.2);}
    100% {transform: scale(1);}
}

@keyframes SlideIn{
    from {text-indent:-160%;}
    70%  {text-indent:-160%;}
    100% {text-indent:0;}
}

@keyframes SlideLeft{
    0% {margin-left:-20px;}
    100% {margin-left:-60px;}
}

@keyframes ChangeContent{
    0% {content:',';}
    100% {content:'!';}
}

@keyframes Hide {
    0% { opacity: 1;}
    99% { opacity: 0;}
    100% { opacity: 0; height: 0; width: 0;}
}
