.pager-element__list {
  position: relative;
  display: inline-flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}
.pager-element__item {
  display: block;
  border: 2px dotted;
  margin-left: -2px;
}
.pager-element__link {
  text-decoration: none;
  color: inherit;
  line-height: 0.8;
  padding: 0 0.5em;
  display: block;
  cursor: pointer;
  text-align: center;
  transition: color 0.3s 0.2s;
  margin: 0.2em;
}
.pager-element__item--active .pager-element__link {
  background: #fff;
}

/** IPHONE **/
@media only screen and (min-width: 320px) and (max-width: 568px) {
	.pager-element{
		left: auto;
    right: auto;
    text-align: center;
    width: 100%;
	}
}
