.slide{
  position: relative;
}
.slide__title {
  margin: 0 auto;
  line-height: 1.12em;
  position: absolute;
}
.slide__content {
  position: absolute;
  text-shadow: 1px 1px #000;
}
.slide__title u{
  text-decoration: none;
  background-image: linear-gradient(to right, #fff 0%, #fff 100%);
  background-repeat: repeat-x;
  background-position: 0 95%;
  background-size: 100% 1px;
}


.slide--0 .slide__title{
  left: 0.4em;
  top: 0.4em;
}
.slide--0 .slide__content{
  left: 2em;
  bottom: 7em;
}

.slide--1 .slide__title,
.slide--2 .slide__title,
.slide--6 .slide__title,
.slide--7 .slide__title,
.slide--8 .slide__title{
  left: 1.4em;
  top: 4.05em;
  right: 1.4em;
}
.slide--3 .slide__title,
.slide--4 .slide__title,
.slide--9 .slide__title{
  right: 1.4em;
  left: 1.4em;
  top: 4.05em;
  text-align: right;
}
.slide--5 .slide__title{
  right: 1.4em;
  left: 1.4em;
  top: 2.9em;
  text-align: right;
}
.slide--9 .slide__title{
  right: 0.4em;
  top: 0.4em;
  text-align: right;
}
.slide--9 .slide__content{
  right: 2em;
  left: 5em;
  top: 20em;
  text-align: right;
}
